@use "../../styles/mixins.scss" as *;

.projects {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0.5rem 0;

  @include tablet {
    margin: 4rem 3rem;
  }
  &__buttons {
    background-color: transparent;
    color: rgb(137, 127, 127);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(223, 158, 135);

    margin: 1rem 0.5rem 0 0;
  }

  &__buttons:hover {
    border: 1px solid orangered;
  }
  &__buttons--active {
    box-shadow: 4px 4px 8px rgba(103, 101, 101, 0.5);
    background-color: transparent;
    color: white;
    border-radius: 5rem;
    border: 1px solid orangered;
    padding: 0.5rem;
    margin: 1rem 0.5rem 0 0;
  }
}
.project {
  margin: 1rem;

  @include tablet {
    margin: 3rem;
  }

  &__title {
    font-size: 1rem;

    margin-bottom: 1rem;
    @include tablet {
      font-size: 2rem;
    }
  }
  &__video {
    display: block;
    width: 80vw;

    margin: 1rem auto;
  }

  &__git {
    color: rgb(14, 18, 227);
  }
  &__image {
    width: 90vw;

    margin: 1rem auto;

    @include tablet {
      width: 70vw;
      height: auto;
    }
  }
  &__demo {
    width: 100%;
    height: 50vh;

    @include tablet {
      height: 80vh;
    }
  }
  &__section {
    display: flex;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    justify-content: space-between;
    align-items: center;
  }
  &__headline {
    font-size: 0.8rem;
    padding-bottom: 0.3rem;
    margin: 0.5rem 0;
    @include tablet {
      font-size: 1.2rem;
    }
  }

  &__description {
    font-size: 0.7rem;
    margin: 0.5rem 0;
    @include tablet {
      font-size: 1rem;
    }
  }

  &__description--hide {
    display: none;
  }
  &__list {
    list-style: number;

    margin: 0.5rem 1rem;
    @include tablet {
    }
  }

  &__list--hide {
    display: none;
  }
  &__list-item {
    font-size: 0.7rem;
    @include tablet {
      font-size: 1rem;
    }
  }

  &__button {
    background: none;
    border: none;
  }

  &__button--hide {
    display: none;
  }
}
.tech-list {
  list-style: none;
  margin: 0.5rem 0;

  &__item {
    font-size: 0.7rem;
    @include tablet {
      font-size: 1rem;
    }
  }

  &--hide {
    display: none;
  }
}
.icon {
  width: 1rem;
  height: 1rem;
}
