@use "../../styles/mixins.scss" as *;

.resume {
  margin: 4rem 1rem 0;
  height: 80vh;

  @include tablet {
    margin: 5rem 3rem 0;
    height: auto;
  }

  &__heading {
    @include tablet {
      margin-bottom: 1rem;
    }
  }
  &__download {
    font-size: 0.7rem;
    color: rgb(120, 120, 222);

    @include tablet {
      font-size: 1rem;
    }
  }

  &__image-container {
    background-color: aliceblue;
    width: 80vw;

    height: 60vh;

    text-align: center;
    margin: 1rem auto 3rem;

    @include tablet {
      margin-top: 2rem;
      height: auto;
    }
  }

  &__image {
    width: 60vw;
    height: 50vh;

    border: 1px solid black;

    margin: 1.5rem;

    @include tablet {
      margin: 3rem 0;
      height: auto;
    }
  }
}
